{% extends 'base.html' %}
{% block content %}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">about us </h1>
                <p class="lead fw-normal text-white-50 mb-0">listen our story</p>
            </div>
        </div>
    </header>
    <br><br>

    <div class="container ">
        <div class="row ">
            <center>
                <div class="col-7 ">    
                    <p align="justify" class="mt-4 mb-4">
                        Welcome to our online shop! We are dedicated to providing you with the best products and services. Our mission is to offer high-quality items at competitive prices, ensuring customer satisfaction with every purchase. Whether you're looking for the latest trends or timeless classics, we have something for everyone. Thank you for choosing our shop, and we look forward to serving you!
                    </p>
            </center>
                </div>
        </div>
 <br><br>          
{% endblock %}