{% extends 'base.html' %}
{% block content %}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Categories</h1>
                <p class="lead fw-normal text-white-50 mb-0">all shop categories</p>
            </div>
        </div>
    </header>
    <br><br>

    <div class="container ">
        <div class="row ">
            <center>
                <div class="col-7 ">    
                    <p align="justify" class="mt-4 mb-4">
                       {% for category in categories %}
                        <h3><a href="{% url 'category' cat=category.name %}">{{ category.name }}</a></h3>
                       {% endfor %}
                    </p> 
            </center>
                </div>
        </div>
 <br><br>          
{% endblock %}