{% extends 'base.html' %}
{% block content %}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">login</h1>
                <p class="lead fw-normal text-white-50 mb-0">login format </p>
            </div>
        </div>
    </header>
    <br><br>

    <div class="container ">
        <div class="row ">
            <center>
                <div class="col-7 ">    
                    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
  <div class="mb-3">
    
    <input type="text" class="form-control" name="username" placeholder=" enter the Username">
  </div>
  <div class="mb-3">
    <input type="password" class="form-control"name="password" placeholder=" enter the password">
  </div>
  <button type="submit" class="btn btn-secondary">login</button>
</form>
            </center>
                </div>
        </div>
 <br><br>          
{% endblock %}