{% extends 'base.html' %}
{% block content %}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">User Info</h1>
                <p class="lead fw-normal text-white-50 mb-0"> For ordering enter your information below </p>
            </div>
        </div>
    </header>
    <br><br>

    <div class="container ">
        <div class="row ">
            <center>
                <div class="col-7 "> 
                    <strong> <h3> Update Your Information </h3> </strong>   
                    <br><br>
                    <form method="post" action="{% url 'update_info' %}">
                    <br>
                    <a href="{% url 'update_password' %}" class="btn btn-warning"> Change Password </a>
    {% csrf_token %}
         {{ form.as_p }}
         <br><br>

         <strong> <h3> sending information </h3> </strong>   
                    <br><br>
                    {{ shipping_form.as_p }}

  
</form>
            </center>
                </div>
        </div>
 <br><br>          
{% endblock %}