{% extends 'base.html' %}
{% block content %}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Update Profile</h1>
                <p class="lead fw-normal text-white-50 mb-0"> Enter your information below </p>
            </div>
        </div>
    </header>
    <br><br>

    <div class="container ">
        <div class="row ">
            <center>
                <div class="col-7 ">    
                    <form method="post" action="{% url 'update_user' %}">
                    <br>
                    <a href="{% url 'update_password' %}" class="btn btn-warning"> Change Password </a>
    {% csrf_token %}
         {{ user_form.as_p }}
         <br><br>

  <button type="submit" class="btn btn-secondary">Update Profile</button>
</form>
            </center>
                </div>
        </div>
 <br><br>          
{% endblock %}